<!DOCTYPE html>
<html>
<head>
	<title>Secret</title>
</head>
<body>
	
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>


<img src="https://www.unilad.co.uk/wp-content/uploads/2018/11/Screen-Shot-2018-11-14-at-21.16.22.png">
</body>
</html>